@model ScopeViewModel

<li>
    <label>
        <input type="checkbox"
               value="@Model.Name"
               id="scope_@Model.Name"
               checked="@Model.Checked"
               disabled="@Model.Required"
               name="scopeItems" />

        @if (Model.Required)
        {
            <input type="hidden" value="@Model.Name" name="scopeItems" />

        }
    </label>
    <strong>@Model.Name</strong>
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <div>
            <label for="scope_@Model.Name">@Model.Description</label>
        </div>

    }
</li>